:80, :443

browse

log / /var/log/caddy/access.log "{combined}" {
  except /not_found /ping
  rotate_age 180
}

rewrite {
  ext .php
  to /not_found
}

rewrite {
  if {method} is POST
  to /not_found
}

status 404 /not_found
status 200 /ping

# exclude fs service dir
internal /lost+found